<div class="row  flex-column flex-sm-row align-items-center" id="info">
    <button type="button" class="btn btn-dark btn-circle btn-lg" routerLink="admin">
        <i class="fas fa-user-shield fa-sm"></i>
    </button>
    <img src="../../../assets/img/logo.png" alt="logo">
    <div class="flex-sm-fill text-sm-center">
        <img src="../../../assets/img/svg/icono telefono.svg" width="50px">
        <label class="ml-2 datos">+52 222 6282</label>
    </div>
    <div class="flex-sm-fill text-sm-center">
        <img src="../../../assets/img/svg/icono mail.svg" width="50px" class="ml-3">
        <label class="ml-2 datos">ventas@publimagenchile.cl /</label>
    </div>
    <div class="flex-sm-fill text-sm-center">
        <label class="ml-2 datos">publimagenchile@gmail.cl</label>
    </div>
</div>
<div class="row bg-image justify-content-center align-items-center">
    <div class="col-10">
        <img src="../../../assets/img/svg/logo publimagen blanco.svg" alt="portada">
    </div>
</div>
<nav class="navbar flex-column flex-lg-row nav-pills bg-info text-white">
    <a class="flex-lg-fill text-lg-center nav-link" href="#"><b>HOME</b></a>
    <a class=" flex-lg-fill text-lg-center nav-link" href="#quienesSomos"><b>QUIENES SOMOS</b></a>
    <a class=" flex-lg-fill text-lg-center nav-link" href="#servicios"><b>SERVICIOS</b></a>
    <a class=" flex-lg-fill text-lg-center nav-link" href="#proyectos"><b>PROYECTOS</b></a>
    <a class=" flex-lg-fill text-lg-center nav-link" href="#contacto"><b>CONTACTO</b></a>
</nav>
<!-- Sidebar  -->